<footer class="footer3 text-center">
    <div class="containter pt-5 paddgeneral">
        <!-- style="
            padding: 5%;" -->
        <div></div>

        <div class="row justify-content-md-center" *ngIf="!movilV  " [ngClass]="{'margenChico':chico,'margenGrande':movilV || tabletH}">
            <div class="col-4 align-self-center">
                <div class="row justify-content-md-center">
                    <img src="../../assets/imagenes/footer/region.png" alt="" style="width:30%" class="animated wow flipInY delay-1s">
                </div>
                <div class="row justify-content-md-center mt-2">
                    <div class="texto1">INGREDIENTES<br>DE LA REGIÓN<br>PATAGÓNICA</div>
                </div>



            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-md-center">
                    <img src="../../assets/imagenes/footer/saludable.png" alt="" style="width:25%" class="animated wow flipInY delay-1s">
                </div>
                <div class="row justify-content-md-center mt-2">
                    <div class="texto1">PRODUCTOS<br>SALUDABLES<br>Y NATURALES</div>
                </div>

            </div>
            <div class="col-3 align-self-center">
                <div class="row justify-content-md-center">
                    <img src="../../assets/imagenes/footer/innovacion.png" alt="" style="width:20%" class="animated wow flipInY delay-1s">
                </div>
                <div class="row justify-content-md-center mt-2">
                    <div class="texto1">TRABAJAMOS EN<br>INNOVACIÓN Y<br>DESARROLLO</div>
                </div>

            </div>

        </div>

        <div class="row " [ngClass]="{'primerRow':!movilV && !chico,'chico':chico }">

            <div class="col-5 align-self-center pt-5 pl-10" [ngClass]="{'col-10 align-self-start celular':movilV }">
                <div class="row comu">
                    <div class="col-9 comunicate" *ngIf="!movilV">
                        <p>¡Comunicate con nosotros!</p>
                    </div>
                    <div class="col-9 comunicate" *ngIf="movilV">
                        <p>¡Comunicate </p>
                        <p class="nosotros">con nosotros!</p>
                    </div>

                </div>
                <div class="row">
                    <!-- <div class="col-5 " *ngIf="movilV">

                    </div> -->
                    <div class="col-7" [ngClass]="{'col-10 align-self-center celular':movilV }">
                        <div class="row margenCompu">

                            <!-- telefono -->
                            <div class="col-2 mt-2">
                                <img src="../../assets/imagenes/footerweb-02.png" alt="">
                            </div>
                            <div class="col-10 mt-3 align-self-start tamtel pantchico ">
                                <h5> <b>Te: </b> 299 555 3065</h5>
                            </div>
                        </div>
                        <div class="row margenCompu">
                            <!-- mensaje -->
                            <div class="col-2 mt-2">
                                <img src="../../assets/imagenes/footerweb-03.png" alt="">
                            </div>
                            <div class="col-10 mt-3 align-self-start pantchico ">
                                <h5> <b>info@buenosvientos.com.ar</b> </h5>
                            </div>
                        </div>
                        <div class="row margenCompu" style="width: 250px;">
                            <!-- ubicacion -->
                            <div class="col-2 mt-2 ">
                                <img src="../../assets/imagenes/footerweb-04.png" alt="">
                            </div>
                            <div class="col-10 mt-3 align-self-start pantchico pantgrande" *ngIf="!chico">
                                <h5> <b>Dirección:</b> Ruta 151 km 32,5; Campo Grande; Río Negro</h5>

                            </div>
                            <div class="col-10 mt-3 align-self-start pantchico" *ngIf="chico">
                                <h5> <b>Dirección:</b> Ruta 151 km 32,5; Campo Grande; </h5>
                                <h5 class="rioN">Río Negro</h5>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Logos redes sociales -->
            <div class="col-4 align-self-center mt-1" *ngIf='!movilV'>
                <div *ngIf="!chico">
                    <div class="row justify-content-start">
                        <div class="col-6 ml-3">
                            <p class="seguinos">¡Seguinos!</p>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-2 offset-md-4 face">
                            <a href="https://es-la.facebook.com/Buenos-Vientos-1846438855623224/" target="_blank">
                                <img src="../../assets/imagenes/footerweb-05.png" alt=""></a>
                        </div>
                        <div class="col-2  insta">
                            <a href="https://www.instagram.com/buenosvientospatagonia/" target="_blank">

                                <img src="../../assets/imagenes/footerweb-06.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div *ngIf="chico">
                    <div class="row justify-content-start">
                        <div class="col-6 ml-3">
                            <p class="seguinos">¡Seguinos!</p>
                        </div>

                    </div>
                    <div class="row justify-content-start">
                        <div class="col-2 offset-md-2 face">
                            <a href="https://es-la.facebook.com/Buenos-Vientos-1846438855623224/" target="_blank">
                                <img src="../../assets/imagenes/footerweb-05.png" alt=""></a>
                        </div>
                        <div class="col-2  insta">
                            <a href="https://www.instagram.com/buenosvientospatagonia/" target="_blank">

                                <img src="../../assets/imagenes/footerweb-06.png" alt=""></a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Logos redes sociales celular -->
            <div class="col align-self-start mt-5" *ngIf='movilV'>
                <div class="row ">
                    <div class="col align-self-start">
                        <p class="seguinos">¡Seguinos!</p>
                    </div>

                </div>

                <!-- <div class="col-2 offset-md-4 face">
                    <a href="https://es-la.facebook.com/Buenos-Vientos-1846438855623224/" target="_blank">
                        <img src="../../assets/imagenes/footerweb-05.png" alt=""></a>
                </div>
                <div class="col-2  insta">
                    <a href="https://www.instagram.com/buenosvientospatagonia/" target="_blank">

                        <img src="../../assets/imagenes/footerweb-06.png" alt=""></a>
                </div> -->

                <div class="row">
                    <div class="col-3 face">
                        <a href="https://es-la.facebook.com/Buenos-Vientos-1846438855623224/" target="_blank">
                            <img src="../../assets/imagenes/footerweb-05.png" alt=""></a>
                    </div>
                    <!--  <div class="col-8"></div> -->
                    <div class="col-3 insta">
                        <a href="https://www.instagram.com/buenosvientospatagonia/" target="_blank">

                            <img src="../../assets/imagenes/footerweb-06.png" alt=""></a>
                    </div>
                    <div class="col-6"></div>
                </div>

                <!-- <div class="row face">

                    <a href="https://es-la.facebook.com/Buenos-Vientos-1846438855623224/" target="_blank">
                        <img src="../../assets/imagenes/footerweb-05.png" alt=""></a>




                </div>
                <div class="row insta">
                    <a href="https://www.instagram.com/buenosvientospatagonia/" target="_blank">

                        <img src="../../assets/imagenes/footerweb-06.png" alt=""></a>
                </div> -->
            </div>


            <!-- nosotros -->
            <div class="col-3 align-self-center pt-5" *ngIf="!movilV">
                <div class="row pt-especial" *ngIf="!chico">
                    <h5>
                        Diseñado por
                        <br>
                        <a href="https://adacodingdesign.com/" target="_blank" style="color:white;">
                               www.adacodingdesign.com</a>
                    </h5>

                </div>

                <div class="row pt-especial" *ngIf="chico">
                    <h5>
                        Diseñado por
                        <br>
                        <a href="https://adacodingdesign.com/" target="_blank" style="color:white;">
                       www.adacodingdesign.com</a>
                    </h5>
                </div>

            </div>
            <!--  <div class="col-3 align-self-center pt-especial" *ngIf="chico">
                <div class="row pt-especial">
                    <h5>
                        Diseñado por
                        <br>
                        <a href="https://adacodingdesign.com/" target="_blank" style="color:white;">
                           www.adacodingdesign.com</a>
                    </h5>
                </div>

            </div> -->

            <!-- nosotros celular -->

            <div class="col pt-5" *ngIf="movilV">
                <div class="row pt-5 justify-content-center">
                    <h5>
                        Diseñado por <a href="https://adacodingdesign.com/" target="_blank" style="color:white;"> www.adacodingdesign.com</a>
                    </h5>
                </div>

            </div>
        </div>

    </div>

    <!-- 
    <div class="containter">


        <p style="color:white">
            &copy; Diseñado y Desarrollado por <a href="https://adacodingdesign.com/" target="_blank"
                style="color: white">ADA CODING DESIGN {{anio}}</a></p>




    </div> -->
</footer>