<section id="nosotros">



    <div class=" conocenosImagen" *ngIf="!movil">

        <h1 class="text-center mb-0 tituloConocenos">
            Conocenos
            <hr class="new4">
        </h1>

        <div class="container m-3 contm3">
            <!-- style="padding-top: 8%; margin-left: 10%;" -->

            <div class="col-md-6 col-sm-12 col-xs-12 display-table wow fadeInLeft accor">
                <!-- style="visibility: visible; animation-name: fadeInLeft;margin-left: 6%;" -->
                <div class="display-table-cell-vertical-middle padding-thirteen-all md-padding-ten-all sm-padding-six-all xs-padding-50px-tb xs-no-padding-lr">
                    <h5 class="alt-font text-extra-dark-gray sm-text-center margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom  sobreN">
                        <!-- style="    padding-bottom: 5%;" -->
                        <span class="tituloSobreNosotros pb-3">Sobre nosotros</span>
                    </h5>
                    <!-- <span class="tituloSobreNosotros pb-3">Sobre nosotros</span></h5> -->
                    <div class="panel-group accordion-style2" id="accordion">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false">
                                    <div class="panel-title">
                                        <span class="numero">01</span>
                                        <span class="textoBotones ml-4">Historia</span>
                                        <i class="fas pull-right text-extra-dark-gray fa-angle-down ml-4" style="padding-left: 55%; "></i>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" data-parent="#accordion">
                                <div class="panel-body" style="font-size: 0.9rem;"> En el año 2008, un grupo de amigos incursionó en la producción de frutos secos, una actividad que aún 12 años después les sigue entusiasmando. En este tiempo se dedicaron a mejorar, años tras año, en esta actividad que
                                    les resulta apasionante.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false">
                                    <div class="panel-title">
                                        <span class="numero">02</span>
                                        <span class="textoBotones ml-4">Compromiso regional</span>
                                        <i class="indicator fas pull-right text-extra-dark-gray fa-angle-down" style="padding-left: 30%;"></i>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" data-parent="#accordion">
                                <div class="panel-body">En Sargento Vidal, municipio de Campo Grande, en la norpatagonia recuperaron más de 70 hectáreas abandonas, dándoles un destino de producción, y generando puesto de trabajo para los habitantes de la zona. </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false">
                                    <div class="panel-title">
                                        <span class="numero">03</span>
                                        <span class="textoBotones ml-4">Tecnologia industrial</span>
                                        <i class="indicator fas pull-right text-extra-dark-gray fa-angle-down" style="padding-left: 32%;"></i>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" data-parent="#accordion">
                                <div class="panel-body">Para procesar los productos, se instaló una planta de partido única en la zona. Ésta fue emplazada en el establecimiento ubicado en la primer plantación de nogales. Simultaneamente se instaló una planta de elaboración que
                                    cuenta con una maquina selectora infraroja que asegura la calidad de los frutos.</div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false">
                                    <div class="panel-title">
                                        <span class="numero">04</span>
                                        <span class="textoBotones ml-4">Calidad de productos</span>
                                        <i class="indicator fas pull-right text-extra-dark-gray fa-angle-down" style="padding-left: 30%;"></i>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" data-parent="#accordion">
                                <div class="panel-body">Las plantas de almendra Guara y las nueces Chandler, poseedoras de múltiples propiedades benéficas crecen fuertes y con un rendimiento creciente. Se ha comenzado en la elaboración de productos que pueda mostrar todo el
                                    potencial de sabores que los frutos secos pueden brindar en la diversidad de variedades. </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
    <div *ngIf="movil">

        <h1 class="text-center mb-0 tituloConocenos">
            CONOCENOS
        </h1>
        <div class="container" style="padding-top: 2%; ">

            <div class="col-md-6 col-sm-12 col-xs-12 display-table wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft; margin-top: -4%;">
                <div class="display-table-cell-vertical-middle padding-thirteen-all md-padding-ten-all sm-padding-six-all xs-padding-50px-tb xs-no-padding-lr">
                    <h5 class="alt-font text-extra-dark-gray sm-text-center margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom " style="    padding-bottom: 5%;">
                        <!-- <span class="tituloSobreNosotros pb-3">Sobre nosotros</span> --></h5>
                    <div class="panel-group accordion-style2" id="accordion">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false">

                                    <div class="panel-title">
                                        <!-- <span class="numero">01</span> --><i class="fas pull-right text-extra-dark-gray fa-angle-down"></i>
                                        <span class="textoBotones ml-4">Historia</span>
                                        <!-- <i class="fas pull-right text-extra-dark-gray fa-angle-down ml-4" style="padding-left: 30.5vw;"></i>-->
                                        <!-- 44% -->-->
                                        <!-- 44 -->
                                    </div>
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" data-parent="#accordion">
                                <div class="panel-body" style="font-size: 0.9rem;"> En el año 2008, un grupo de amigos incursionó en la producción de frutos secos, una actividad que aún 12 años después les sigue entusiasmando. En este tiempo se dedicaron a mejorar, años tras año, en esta actividad que
                                    les resulta apasionante.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false">
                                    <div class="panel-title">
                                        <!-- <span class="numero">02</span> -->
                                        <i class="indicator fas pull-right text-extra-dark-gray fa-angle-down"></i>
                                        <span class="textoBotones ml-4">Compromiso regional</span>
                                        <!--   <i class="indicator fas pull-right text-extra-dark-gray fa-angle-down" style="padding-left: 6vw;"></i> -->
                                        <!-- 8.5% -->
                                        <!-- 8 -->
                                    </div>
                                </a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" data-parent="#accordion">
                                <div class="panel-body">En Sargento Vidal, municipio de Campo Grande, en la norpatagonia recuperaron más de 70 hectáreas abandonas, dándoles un destino de producción, y generando puesto de trabajo para los habitantes de la zona. </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false">
                                    <div class="panel-title">
                                        <!-- <span class="numero">03</span> -->
                                        <i class="indicator fas pull-right text-extra-dark-gray fa-angle-down"></i>
                                        <span class="textoBotones ml-4">Tecnologia industrial</span>

                                        <!-- 11.5% -->
                                        <!-- 8 -->
                                    </div>
                                </a>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" data-parent="#accordion">
                                <div class="panel-body">Para procesar los productos, se instaló una planta de partido única en la zona. Ésta fue emplazada en el establecimiento ubicado en la primer plantación de nogales. Simultaneamente se instaló una planta de elaboración que
                                    cuenta con una maquina selectora infraroja que asegura la calidad de los frutos.</div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false">
                                    <div class="panel-title">
                                        <!-- <span class="numero">04</span> --><i class="indicator fas pull-right text-extra-dark-gray fa-angle-down"></i>
                                        <span class="textoBotones ml-4">Calidad de productos</span>
                                        <!-- <i class="indicator fas pull-right text-extra-dark-gray fa-angle-down" style="padding-left: 6vw;"></i> -->
                                        <!-- 8.5% -->
                                        <!-- 8.5 -->
                                    </div>
                                </a>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" data-parent="#accordion">
                                <div class="panel-body">Las plantas de almendra Guara y las nueces Chandler, poseedoras de múltiples propiedades benéficas crecen fuertes y con un rendimiento creciente. Se ha comenzado en la elaboración de productos que pueda mostrar todo el
                                    potencial de sabores que los frutos secos pueden brindar en la diversidad de variedades. </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="conocenosImagen2" *ngIf="!movil" style="margin-top: -2.7vw;">
        <div class="row align-content-center">
            <div class="col-md-4 col-sm-12 offset-7">
                <div class="tituloOrgullosos">
                    "<b>Orgullosos</b> del camino andado esperando poder compartir la <b>calidad</b> y <b>originalidad</b> de los <b>sabores</b> de nuestros productos"
                </div>
            </div>
        </div>
    </div>

    <div class="rectanguloEnBlanco">
        <div *ngIf="movil">

            <div style="margin-top: 5vh">
                <div class="w3-container m-1 align-items-center fondoAmarillo" style=" max-width: 100%; margin-top: 5px "></div>

            </div>

        </div>
        <h2 *ngIf="!movil" class="text-center pt-8">Seguinos en Instagram</h2>
    </div>

    <div *ngIf="movil">
        <h2 class="text-center pt-8" [ngClass]="{'baja':!movilV }">SEGUINOS EN </h2>
        <h2 class="text-center pt-8 baja" [ngClass]="{'baja':!movilV }">INSTAGRAM</h2>
    </div>












    <!-- galeria carrusel -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->













    <!-- messi
<div class="elfsight-app-76314b7a-7749-4643-829f-b4b4095ff3f7"></div> -->



    <div class="elfsight-app-6c892db4-63d7-4c6d-acc5-f8493d136ba2"></div>



</section>