<span class="anchor" id="sectionRecetas"></span>
<section id="recetas">
    <div class="w3-container align-items-center resetas-section" style="display: inherit;">
        <div class="row ">
            <div class="col-8 cel">



                <div class="bd-example">
                    <div id="carouselExampleCaptions2" class="carousel slide w-100  " data-ride="carousel">
                        <!-- <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions2" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions2" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions2" data-slide-to="2"></li>
                            <li data-target="#carouselExampleCaptions2" data-slide-to="3"></li>
                            <li data-target="#carouselExampleCaptions2" data-slide-to="4"></li>
                        </ol> -->


                        <div class="carousel-inner">
                            <div class="carousel-item active ">
                                <div class="col-6 float-left" style="margin-left: 5%;">
                                    <div class="card">
                                        <a href="assets/imagenes/recetas/receta_bizcocho_almendra.pdf" target="_blank">
                                            <img class="card-img-top" src="assets/imagenes/recetas/icono_biscocho.png" alt="Card image cap">
                                        </a>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-5 col-sm-12 align-self-center">
                                                    <h5><strong>Bizcocho de almendras y crema</strong></h5>
                                                </div>
                                                <div class="col-4 align-items-center" *ngIf="!movil">
                                                    <img src="assets/imagenes/recetas/icono_reloj.png" alt="" class="icono2">
                                                    <p class="reloj"><strong>70 min</strong></p>
                                                </div>
                                                <div class="col-3 align-items-center" *ngIf="!movil">
                                                    <img src="../../assets/imagenes/recetas/icono_sombrero.png" alt="" class="icono">
                                                    <p class="gorro"><strong>Dificil</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 float-left" style="margin-left: -10%;">
                                    <div class="card">
                                        <a href="assets/imagenes/recetas/recetas_carre.pdf" target="_blank">

                                            <img class="card-img-top" src="assets/imagenes/recetas/icono_carre.png" alt="Card image cap">
                                        </a>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-5 col-sm-12 align-self-center">
                                                    <h5><strong>Carré de cerdo con pesto de nueces</strong></h5>
                                                </div>
                                                <div class="col-4 align-items-center" *ngIf="!movil">

                                                    <img src="assets/imagenes/recetas/icono_reloj.png" alt="" class="icono2">
                                                    <p class="reloj" style="padding-left: 20%;"><strong>50 min</strong></p>
                                                </div>
                                                <div class="col-3 align-items-center" *ngIf="!movil">
                                                    <img src="../../assets/imagenes/recetas/icono_sombrero.png" alt="" class="icono">
                                                    <p class="gorro"><strong>Media</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="carousel-caption d-none d-md-block">

                            </div>

                            <div class="carousel-item row ">
                                <div class="col-6 float-left" style="margin-left: 5%;">
                                    <div class="card">
                                        <a href="assets/imagenes/recetas/recetas_galleta_queso.pdf" target="_blank">
                                            <img class="card-img-top" src="assets/imagenes/recetas/icono_galleta_queso.png" alt="Card image cap">
                                        </a>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-5 col-sm-12 align-self-center">
                                                    <h5><strong>Galletas de queso y avellanas</strong></h5>
                                                </div>
                                                <div class="col-4 align-items-center" *ngIf="!movil">
                                                    <img src="assets/imagenes/recetas/icono_reloj.png" alt="" class="icono2">
                                                    <p class="reloj"><strong>70 min</strong></p>
                                                </div>
                                                <div class="col-3 align-items-center" *ngIf="!movil">
                                                    <img src="../../assets/imagenes/recetas/icono_sombrero.png" alt="" class="icono">
                                                    <p class="gorro"><strong>Dificil</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 float-left" style="margin-left: -10%;">
                                    <div class="card">
                                        <a href="assets/imagenes/recetas/receta_galleta_sintac.pdf" target="_blank">

                                            <img class="card-img-top" src="assets/imagenes/recetas/icono_galleta_sintac.png" alt="Card image cap">
                                        </a>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-5 col-sm-12 align-self-center">
                                                    <h5><strong>Galletas de avellanas sin tacc</strong></h5>
                                                </div>
                                                <div class="col-4 align-items-center" *ngIf="!movil">
                                                    <img src="assets/imagenes/recetas/icono_reloj.png" alt="" class="icono2">
                                                    <p class="reloj" style="padding-left: 20%;"><strong>60 min</strong></p>
                                                </div>
                                                <div class="col-3 align-items-center" *ngIf="!movil">
                                                    <img src="../../assets/imagenes/recetas/icono_sombrero.png" alt="" class="icono">
                                                    <p class="gorro2"><strong>Fácil</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-caption d-none d-md-block">

                            </div>


                            <div class="carousel-item row ">
                                <div class="col-6 float-left" style="margin-left: 5%;">
                                    <div class="card">
                                        <a href="assets/imagenes/recetas/receta_nutella.pdf" target="_blank">

                                            <img class="card-img-top" src="assets/imagenes/recetas/icono_nutela.png" alt="Card image cap">
                                        </a>
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-md-5 col-sm-12 align-self-center">
                                                    <h5><strong>Nutella de avellanas</strong></h5>
                                                </div>
                                                <div class="col-4 align-items-center" *ngIf="!movil">
                                                    <img src="assets/imagenes/recetas/icono_reloj.png" alt="" class="icono2">
                                                    <p class="reloj"><strong>70 min</strong></p>
                                                </div>
                                                <div class="col-3 align-items-center" *ngIf="!movil">
                                                    <img src="../../assets/imagenes/recetas/icono_sombrero.png" alt="" class="icono">
                                                    <p class="gorro"><strong>Dificil</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 float-left" style="margin-left: -10%;">
                                    <div class="card">
                                        <a href="assets/imagenes/recetas/receta_pan.pdf" target="_blank">

                                            <img class="card-img-top" src="assets/imagenes/recetas/icono_pan.png" alt="Card image cap">
                                        </a>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-5 col-sm-12 align-self-center">
                                                    <h5><strong>Pan de nueces y trigo</strong></h5>
                                                </div>
                                                <div class="col-4 align-items-center" *ngIf="!movil">
                                                    <img src="assets/imagenes/recetas/icono_reloj.png" alt="" class="icono2">
                                                    <p class="reloj"><strong>60 min</strong></p>
                                                </div>
                                                <div class="col-3 align-items-center" *ngIf="!movil">
                                                    <img src="../../assets/imagenes/recetas/icono_sombrero.png" alt="" class="icono">
                                                    <p class="gorro2"><strong>Fácil</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-caption d-none d-md-block">

                            </div>





                        </div>


                        <div class="carousel-item row ">
                            <div class="col-6 float-left" style="margin-left: 5%;">
                                <div class="card">
                                    <a href="assets/imagenes/recetas/receta_sufle.pdf" target="_blank">

                                        <img class="card-img-top" src="assets/imagenes/recetas/icono_sufle.png" alt="Card image cap">
                                    </a>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5 col-sm-12 align-self-center">
                                                <h5><strong>Souffle de almendras</strong></h5>
                                            </div>
                                            <div class="col-4 align-items-center" *ngIf="!movil">
                                                <img src="assets/imagenes/recetas/icono_reloj.png" alt="" class="icono2">
                                                <p class="reloj" style="padding-left: 20%;"><strong>45 min</strong></p>
                                            </div>
                                            <div class="col-3 align-items-center" *ngIf="!movil">
                                                <img src="../../assets/imagenes/recetas/icono_sombrero.png" alt="" class="icono">
                                                <p class="gorro"><strong>Media</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 float-left" style="margin-left: -10%;">
                                <div class="card">
                                    <a href="assets/imagenes/recetas/receta_tarta_manzana.pdf" target="_blank">

                                        <img class="card-img-top" src="assets/imagenes/recetas/icono_tarta_manzana.png" alt="Card image cap">
                                    </a>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5 col-sm-12 align-self-center">
                                                <h5><strong>Tarta de duraznos y cerezas con streusel</strong></h5>
                                            </div>
                                            <div class="col-4 align-items-center" *ngIf="!movil">
                                                <img src="assets/imagenes/recetas/icono_reloj.png" alt="" class="icono2">
                                                <p class="reloj" style="padding-left: 20%;"><strong>70 min</strong></p>
                                            </div>
                                            <div class="col-3 align-items-center" *ngIf="!movil">
                                                <img src="../../assets/imagenes/recetas/icono_sombrero.png" alt="" class="icono">
                                                <p class="gorro"><strong>Dificil</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-caption d-none d-md-block">

                        </div>





                        <a class="carousel-control-prev" href="#carouselExampleCaptions2" role="button" data-slide="prev">
                            <i class="fas fa-arrow-circle-left fa-2x" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions2" role="button" data-slide="next">
                            <i class="fas fa-arrow-circle-right fa-2x" aria-hidden="true" style="margin-left: -55%;"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>







            </div>
            <div class="col-3 align-items-top" [ngClass]="{'col-12 celular':receta }">
                <div>

                </div>
                <div *ngIf="receta">
                    <p class="tituloTexto" style="vertical-align: top;">RECETAS</p>
                </div>
                <div *ngIf="!receta">
                    <p class="tituloTexto" style="vertical-align: top;">Recetas</p>
                </div>
                <!-- <p class="tituloTexto" style="vertical-align: top;">Recetas</p> -->
                <div class="container">
                    <p class="texto1">¡Con almendras se puede preparar todo tipo de platos, ya sean dulces o salados!</p>
                    <p class="texto2">Los frutos secos son un gran aliado en la cocina, las almendras probablemente sean protagonistas de grandes platos como los que encontrarás a continuación. </p>
                </div>

                <div class="verTodo" style="padding-top: 2%;">


                    <!--  <div class="verTodo" style="padding-top: 2%;">

          <button pButton type="button" label="VER TODAS" class="ui-button-raised ui-button-secondary" style="width: 10vw;background-color: #87CFBE;;" ></button>
      </div> -->

                    <a [routerLink]="['/recetas']" routerLinkActive="active" class="btn btn-block verTodas">VER TODAS</a>
                </div>
            </div>
        </div>
    </div>
</section>